<p>students works!</p>


<br/>
<p>Test</p>

<!-- <div>
    <input [(ngModel)] ='student.name' placeholder="name"/>
</div>
<div>{{student.id}}</div>
<div>{{student.name | lowercase }}</div>
<div>{{student.mobileNo}}</div>
<div>{{student.email}}</div> -->

<!-- comment : ctrl K+C -->
<ul class="students">
    <!-- Previously we were passing selected student data using onClick event and input directive with the template -->
    <!-- (click)="onSelect(student)" -->
    <li *ngFor="let student of students" >
        <!-- <div *ngIf='student.id > 1'> -->
            <a routerLink = "studentDetail/{{student.id}}">
        <span class="badge">{{student.id}}</span> {{student.name}} 
    </a>
        <!-- </div> -->
        <!-- <span>{{ student.name}}</span> -->
    </li>
</ul>

<!-- refactord the student detail to child component for reusability  -->
<!-- Previously we were passing selected student data using onClick event and input directive with the template -->
<!-- <app-student-detail [student]="selectedStudent"></app-student-detail> -->


<!-- for(var obj of collection) -->
<!-- //Interpolation --  One way binding {{ }} -->
<!-- When you use ngModel with square brackets [] -> it works as interpolation / one way binding -->