<p>student-detail works!</p>
<button (click)='backClicked()'>Back</button>
<!-- -->
<div  *ngIf='student'>
    <p> Selected Student Details</p>
    <label>ID :</label><span>{{student.id}}</span>  <br/>
    <label>Name :</label> <input [(ngModel)]= 'student.name' placeholder="name"/>  <br/>
    <label>Email :</label>{{student.email}} <br/>
    <label>Mobile No :</label>{{student.mobileNo}}<br/>
    <button (click)="save()">Save</button>
    <button (click)="deleteStudent()">Delete</button>
    <button (click)="addNew()">Add New Student</button>
</div>